# MongoDB Atlas
MONGODB_URI=mongodb+srv://benngetha4_db_user:Lz4av1T8SNty1iut@cluster0.4ifjam0.mongodb.net/mecca-city-boutique?retryWrites=true&w=majority&appName=Cluster0

# Cloudinary (from cloudinary.com dashboard)
CLOUDINARY_CLOUD_NAME=hi59y7jy
CLOUDINARY_API_KEY=267138672968372
CLOUDINARY_API_SECRET=Bmkgqn27SMVa9t-1xumXd8Q7tbY

# Auth / session
JWT_SECRET=replace_with_a_long_random_string
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminfg

# Public site config
NEXT_PUBLIC_SITE_URL=https://meccacityboutique.co.ke
NEXT_PUBLIC_WHATSAPP_NUMBER=254719215341
NEXT_PUBLIC_WHATSAPP_NUMBER_SECONDARY=254708743903
